<%
function format_seconds(s) {
    if (typeof s != 'number' || Number.isNaN(s)) {
        return '?:??';
    }

    if (s == 0 || s == 00 || s < 1 && s > 0 || s > -1 && s < 0) {
        return '0:00';
    }

    if (s > 0) {
        var minutes = Math.trunc(s / 60);
        var seconds = Math.trunc(s % 60);
        if (seconds <= 9) {
            seconds = '0' + seconds;
        }
        return minutes + ':' + seconds;
    }

    if (s < 0) {
        var minutes = Math.abs(Math.trunc(s / 60));
        var seconds = Math.abs(Math.trunc(s % 60));
        if (seconds <= 9) {
            seconds = '0' + seconds;
        }
        return '-' + minutes + ':' + seconds;
    }
}
%>
<% song_List.forEach((n)=>{ %>
    <% if (n.missing_file != true) { %>
        <article class="song" id="<%= n._id %>">
            <button type="button" class="play_button" >Play</button>
            <button type="button" class="add_button" >Add</button>
            <button type="button" class="edit_button" >Edit</button>
            <button type="button" class="delete_button" >Delete</button>
            <button type="button" class="addall_button" >AddAll</button>
            <span class="filename"><%= n.filename %></span>
            <span class="duration"><%= format_seconds(Math.ceil(n.duration)) %></span>
            <span class="size"><%= n.size %></span>
            <span class="title"><%= n.title %></span>
            <span class="album"><%= n.album %></span>
            <span class="artist"><%= n.artist %></span>
            <span class="genre"><%= n.genre %></span>
            <a class="download_button" href=../music/<%= n.filename %> download=<%= n.filename %> >
            <button type="button" class="download_button" >Download</button></a>
        </article>
    <% } %>
<% }); %>