<%- include('includes/header', {title: "Songs", type: "songs"}); -%>
<main class="song_table">
            
                <header>
                    <span></span>
                    <a href="songs.html?sort=filename">Filename</a>
                    <a href="songs.html?sort=duration">Duration (MM:SS)</a>
                    <a href="songs.html?sort=size">Size (MB)</a>
                    <a href="songs.html?sort=title">Title</a>
                    <a href="songs.html?sort=album">Album</a>
                    <a href="songs.html?sort=artist">Artist</a>
                    <a href="songs.html?sort=genre">Genre</a>
                </header>
                <% song_List.forEach((n)=>{ %>
                    <% if (n.missing_file != true) { %>
                        <article class="song">
                            <audio controls src=<%= n.src %>></audio>
                            <span class="filename"><%= n.filename %></span>
                            <span class="duration"><%= n.duration %></span>
                            <span class="size"><%= n.size %></span>
                            <span class="title"><%= n.title %></span>
                            <span class="album"><%= n.album %></span>
                            <span class="artist"><%= n.artist %></span>
                            <span class="genre"><%= n.genre %></span>
                            <a href=../music/<%= n.filename %> download=<%= n.filename %>>
                            <button type="button" class="download_button" >Download</button></a>
                        </article>
                    <% } %>
                <% }); %>
            </main>

            <aside class="songs" id='sidebar';> 
                <p class="songs" id="gentitle"> <% if (side_Type == 'genre') { %>Genres<% }else if (side_Type == 'artist'){ %>Artists<% }else if (side_Type == 'album'){ %> Albums<% }else if (side_Type == 'enjoy'){ %> Enjoy the music!<% }%></p>
                <% side_List.forEach((n)=>{ %>
                    <a href="../songs?<%= side_Type %>=<%= n %>" target="_blank" class="home fastlink" ><%= n %></a>
                <% }); %>
            </aside>
        </section>
<%- include('includes/footer', {type: "songs"}); -%>