        <hr class="<%= type %>">
        <footer class="<%= type %>"> 
            <span class="<%= type %> footer">@StefanoGonçalvesSimao </span> 
            <span class="<%= type %> footer">Tue 13 Nov 2021</span> 
            <span class="<%= type %> footer"><a href="https://en.wikipedia.org/wiki/Disclaimer" target="_blank" class="<%= type %>">Legal Disclaimer</a></span>  
        </footer>
    </body>
    </html>